<!--The content below is only a placeholder and can be replaced.-->
<h1>Data Visualization</h1>
<br>

<div *ngIf="!receivedData">
  Fetching Data. Please wait until it loads.
</div>

<div *ngIf="receivedData">
  <div *ngIf="noData">
    No Data available. Press Refresh to fetch from remote source.
    <br><br>
    <a href="#" (click)="refreshData()">Refresh Data (Click to retrieve from remote source again)</a>
    <br><br>
  </div>
  <div *ngIf="!noData">
    <a href="#" (click)="downloadJson()">Download Data (as JSON)</a>
    <br><br>
    <a href="#" (click)="refreshData()">Refresh Data (Click to retrieve from remote source again)</a>
    <br><br>
    <span class="label">Ordered By: {{orderByField}}, Reverse Sort: {{reverseSort}}</span> <br><br>
    <table class="table disp-table">
      <thead>
        <tr>
          <th>
            <a href="#" (click)="updateOrderField('id_num')">
              ID Number <span *ngIf="orderByField == 'id_num'"><span *ngIf="!reverseSort">^</span><span *ngIf="reverseSort">v</span></span>
            </a>
          </th>
          <th>
            <a href="#" (click)="updateOrderField('title')">
              Title <span *ngIf="orderByField == 'title'"><span *ngIf="!reverseSort">^</span><span *ngIf="reverseSort">v</span></span>
            </a>
          </th>
          <th>
            <a href="#" (click)="updateOrderField('link')">
              Link <span *ngIf="orderByField == 'link'"><span *ngIf="!reverseSort">^</span><span *ngIf="reverseSort">v</span></span>
            </a>
          </th>
          <th>
            <a href="#" (click)="updateOrderField('city')">
              City <span *ngIf="orderByField == 'city'"><span *ngIf="!reverseSort">^</span><span *ngIf="reverseSort">v</span></span>
            </a>
          </th>
          <th>
            <a href="#" (click)="updateOrderField('main_image')">
              Main Image <span *ngIf="orderByField == 'main_image'"><span *ngIf="!reverseSort">^</span><span *ngIf="reverseSort">v</span></span>
            </a>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let point of sortData(orderByField)">
          <td>{{point.id_num}}</td>
          <td>{{point.title}}</td>
          <td><a href="{{point.link}}">{{point.link}}</a></td>
          <td>{{point.city}}</td>
          <td><a href="{{point.main_image}}">{{point.main_image}}</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
